*{
    margin: 0;
    padding: 0;
}

font-face {
    font-family: "Beka";
    src: url(Fonts/beka.ttf);
}

body{
    font-family: "Beka";
}

.first-tavi{
    background-color: bisque;
    text-align: center;
    padding: 15px;
}

.second-tavi{
    text-align: center;
    padding: 15px;
}

.misalmeba{
    text-align: center;
    margin-top: -25px;
}

.misalmeba img{
    margin-top: 0;
}

.Tavi{
    
}

li{
    text-align: center;
    display: inline;
    letter-spacing: 2px;
}

.container{
    max-width: 900px;
    margin: auto;
    padding: 25px;
}

.container img{
    max-width: 150px;
    margin-top: -80px;
}

.First{
    color: red;
    padding: 100px;
    text-align: center;
}

.image-section{
    max-width: 1500px;
    text-align: center;
    margin: 0 auto;
}

.image-section img{
    width: 600px;
    margin-top: -25px;
}

.info{
    background-color: pink;
    max-width: 1800px;
    padding: 15px;
    height: 600px;
    margin: auto;
    text-align: center;
}

.shigtavsi{
    background-color: aliceblue;
    max-width: 1500px;
    height: 500px;
    margin: auto;
    padding: 15px;
    text-align: center;
}

.shigtavsi h2 {
    letter-spacing: 2px;
}